amqp==1.4.9
amqplib==1.0.2
anyjson==0.3.3
asn1crypto==0.24.0
beautifulsoup4==4.6.3
billiard==3.3.0.23
boto3==1.10.34
botocore==1.13.34
cairocffi==0.6
CairoSVG==1.0.13
celery==3.1.25
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
configparser==3.8.1
contextlib2==0.5.5
cryptography==2.4.2
cssselect==0.9.1
Django==1.6.6
django-appconf==1.0.1
django-block-ip==0.2.0
django-celery==3.1.1
django-celery-email==1.0.4
django-celery-with-redis==3.0
django-ckeditor-updated==4.4.4
django-compressor==1.4
django-crumbs==0.5.0
django-datetime-widget==0.9.3
django-easy-pdf==0.1.0
django-endless-pagination==2.0
django-fack==1.1
django-geoposition==0.2.2
django-htmlmin==0.10.0
django-iprestrict==1.7.0
django-mathfilters==0.3.0
django-multiupload==0.3
django-nose==1.2
django-picklefield==0.2.1
django-reversion==1.8.5
django-storages==1.5.0
django-tinymce==1.5.3
django-uuidfield==0.5.0
django-wkhtmltopdf==3.1.0
djangorestframework==3.0.3
djrill==1.3.0
djrillcelery==0.1.1
docopt==0.4.0
docutils==0.15.2
enum34==1.1.6
et-xmlfile==1.0.1
flup==1.0.3.dev20110405
futures==3.2.0
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.1.1
html5lib==1.0b3
idna==2.8
importlib-metadata==0.19
inflect==2.1.0
ipaddress==1.0.22
ipcalc==1.99.0
jdcal==1.4
jmespath==0.9.4
keyring==5.3
kombu==3.0.37
libmagic==1.0
livestreamer==1.12.2
lxml==4.2.5
mandrill==1.0.57
meld3==1.0.0
Naked==0.1.31
natsort==6.0.0
nose==1.3.4
num2words==0.5.3
openpyxl==2.5.12
ordereddict==1.1
pathlib2==2.3.4
pdfcrowd==2.6
Pillow==5.3.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.7
pycparser==2.10
pycrypto==2.6.1
PyPDF2==1.22
Pyphen==0.9.1
python-dateutil==2.8.0
python-http-client==3.0.0
python-magic==0.4.12
python-magic-bin==0.4.14
pytz==2014.4
PyYAML==5.1.2
razorpay==1.1.1
redis==2.8.0
regex==2020.7.14
reportlab==3.5.12
requests==2.21.0
s3transfer==0.2.1
scandir==1.10.0
sentry-sdk==0.6.9
setproctitle==1.1.8
shellescape==3.4.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.7.3
South==1.0
tinycss==0.3
urllib3==1.24.1
validate-email==1.3
vine==1.3.0
webstack-django-sorting==1.0.1
xhtml2pdf==0.0.6
xlrd2==1.2.6
xlwt==0.7.5
xmltodict==0.9.2
zipp==0.5.2
